*, ::before, ::after {
	box-sizing: border-box;
	margin:0;
	padding:0;
}

.bar {
    width : 100%;
    size : 15px;
    border-color : green;
    align : center;
    border : 2px;
    display : inline-block;
}

.wrapper {
    overflow : auto
    border-radius : 10px;
    border : 1px solid black;
    float : right;
    margin-top: 100px;
}

.wrapperbasd {
    border-radius : 10px;
    border : 1px solid black;
    float : right;
    margin-top: 140px;
}

.wrapperbasg {
    border : None;
    float : left;
    margin-top: 140px;
    width: 445px;
}

.wrapper1 {
    overflow : auto
    float : left;
    margin-top: 100px;
}

h6 {
  text-decoration-line: underline;
}

body {
	height : 100%;
	font-family : "Times New Roman", Times, serif;
}

.tableau-styles {
	border-collapse : collapse;
	width : 100%;
	height : 100%;
	cursor : pointer;
	margin : 100px auto;
	border : 1px solid #ddd;
	border-radius : 10px solid #ddd;
	margin-top:200px;
}

thead tr {
	background-color : #159dd9;
	color : #fff;
	text-align : left;
	font-family:"Times New Roman", Times, serif;
}

th, td {
	padding : 5px 5px 5px 5px;
}

h3, h4 {
	text-align : center;
	color : black;
	border : 2px solid;
	background-color: #F4F6F6;
	font-family:"Times New Roman", Times, serif;
}

tbody tr, td, th {
	border : 1px solid midnightblue;
	font-size: small;
}


thead th {
	border : 1px solid midnightblue;
	font-size: small;
}

tbody tr:nth-child(even){
	background-color : #f3f3f3;
}

/*tbody tr:last-of-type{
	border : 2px solid midnightblue;
}*/
